
<!-- 例: ホーム画面 -->

<h1>サイクリングロード共有アプリ</h1>

<% if user_signed_in? %>
  <p>ログイン中のユーザーです。</p>
  <!-- ここに「ルート一覧」へのリンクを作成 -->
  <%= link_to "ルート一覧へ", routes_path, class: "btn btn-primary" %>
<% else %>
  <p>ログインしてね！</p>
<% end %>
